/* header styles */
h1, h2, h3, h4, h5, h6, ul, ol{
    margin: 0;
    padding: 0;
}

.details-container {
    padding: 0 30px;
}

.head-container {
    border-bottom: 2px solid #60318C;
    padding: 20px 0;
}

.head-container .navbar {
    margin-bottom: 90px;
}

.head-container .navbar-brand {
    padding: 0;
    height: 0;
}

.navbar-brand.left-logo {
    padding-top: 18px;
}

.head-container .rhc-logo {
    width: 340px;
}
.head-container .navbar-logo {
    max-width: 320px;
}

.head-container .head-info {
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 3.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:8px;
}

.head-container .head-info .head-date {
    text-align: right;
}

.head-container .head-info > div {
    flex-grow: 1;
    width: 33%;
}

/* main content styles */
/* info box */
.info-box {
    max-width: 100%;
    display: flex;
    padding: 40px 0 0 0;
}

.info-box .info-head {
    font-family: 'MavenProBold', Fallback, sans-serif;
    color: #60318C;
    margin-right: 60px;
}

.info-box .info-head h6 {
    font-size: 12rem;
    padding-top: 28px;
}

.info-box .info-text {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    color: #080808;
}

.info-box .info-text h6 {
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 6.5rem;
}

.info-box .info-text p {
    margin-top: 5.3px;
}

/* hexagon box styles */
.item-box {
    max-width: 100%;
    display: flex;
    padding: 60px 0;
    flex-wrap: wrap;
}

.item-box .item-hexagon {
    font-family: 'MavenProBold', Fallback, sans-serif;
    color: #ffffff;
    position: relative;
    flex-grow: 1;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item-box .item-hexagon.left-hex { 
    padding-right: 130px;
}

.item-box .item-hexagon.right-hex { 
    padding-left: 148px;
}

.item-box .item-hexagon .img {
    max-width: 170px;
    /* position: absolute;
    top: -12px; */
}

.item-box .item-hexagon .text {
    position: absolute;
    font-size: 5.6rem;
    /* top: 40px;
    left: 30px; */
    text-align: center;
}

.item-box .item-hexagon.right-hex .text{ 
    /* left: 180px; */
}

.item-box .item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 67%;
    color: #080808;
    font-size: 3rem;
    border-radius: 28px;
    border: 1px solid #080808;
    padding: 24px;
    position: relative;
}

.item-box .item-text.text-right {
    text-align: right;
}

.item-box .item-text h6 {
    font-family: 'MavenProBold', Fallback, sans-serif;
    font-size: 3rem;
}

.item-box .item-text .item-top {
    position: absolute;
    top: 22px;
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

.item-box .item-text .item-top.left{
    left: 2px;
}

.item-box .item-text .item-top.right{
    right: 22px;
}

.item-box .item-text .item-top.normal { 
    color: #50bfa8;
}
.item-box .item-text .item-top.above { 
    color: #ea9289;
}
.item-box .item-text .item-top.under { 
    color: #d48e23;
}

.item-box .item-text p {
    margin: 0;
}

/* bordered box styles */
.info-parameters {
    border: 8px solid #60318C;
    border-radius: 8px;
    max-width: 100%;
    display: flex;
    margin: 50px 50px;
    padding: 40px;
    flex-wrap: wrap;
}

.info-parameters .info-head {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 30%;
}

.info-parameters .info-head h6 {
    font-size: 10rem;
    font-family: 'MavenProBold', Fallback, sans-serif;
    margin-left: 22px;
}

.info-parameters .arrow-right {
    position: absolute;
    left: -41px;
    /* top: -20px; */
    top: 0;
    width: 0; 
    height: 0; 
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 40px solid #ffffff;
}

.info-parameters .arrow-right.normal {
    border-left: 40px solid #50bfa8;
}

.info-parameters .arrow-right.above {
    border-left: 40px solid #ea9289;
}

.info-parameters .arrow-right.under {
    border-left: 40px solid #d48e23;
}

.info-parameters .info-text {
    flex-grow: 1;
    width: 60%;
}

.info-parameters .info-text h6{
    font-size: 3rem;
    font-family: 'MavenProBold', Fallback, sans-serif;
}

.info-parameters .info-text p{ 
    margin: 0;
}

/* fitness section styles */
.fitness-info-box {
    margin: 40px 0;
}

.fitness-info-box .info-text h6{
    font-size: 7rem;
    color: #60318C;
}

.fitness-info-box .info-text p{
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 3rem;
    margin: 30px 0 0 0;
}

.fitness-container {
    display: flex;
    justify-content: center;
}
.fitness-container .image-container {
    /* height: 190pt;
    width: 230pt; */
    width: 870px;
    min-height: 870px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.fitness-container .fit-image { background-image: url("../../assets/images/muscular.png"); }

.fitness-container .fat-image { background-image: url("../../assets/images/fat.png"); }

.fitness-container .stat-block {
    position: absolute;
    font-size: 4rem;
    font-family: 'MavenProMedium', Fallback, sans-serif;
    color: #60318C;
}

#fit-block-1 { top: -3.2rem; right: 0px; }

#fit-block-2 { top: 24.8rem; right: 0px; }

#fit-block-3 { top: 68.8rem; right: 0px; }

#fit-block-4 { top: 25.8rem; left: -22px; }

#fit-block-5 { top: 65.8rem; left: 16px; }

#fat-block-1 { top: -2.8rem; right: 0; }

#fat-block-2 { top: 30.8rem; right: 0px; }

#fat-block-3 { top: 68.8rem; right: 0px; }

#fat-block-4 { top: 29rem; left: -34px; }

#fat-block-5 { top: 66rem; left: 0px; }

.fitness-container .stat-list {
    list-style: none;
}
.fitness-container .stat-list li {
    margin-bottom: -8px;
}
.fitness-container .stat-list li.highlight {
    text-transform: uppercase;
    margin-top: 10px;
}

.fitness-container .stat-list li.highlight.normal { color: #50bfa8}
.fitness-container .stat-list li.highlight.above { color: #ea9289}
.fitness-container .stat-list li.highlight.under { color: #d48e23}

.circle-container {
    display: flex;
    justify-content: center;
    margin: 110px 0;
}
.circle-container .circle {
    width: 520px;
    height: 520px;
    border: 14px solid #60318C;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.circle-container .circle-content {
    text-align: center;
    color: #60318C;
    max-width: 80%;
}

.circle-container .circle-title {
    font-family: 'MavenProBold', Fallback, sans-serif;
    font-size: 6rem;
    text-transform: capitalize;
}

.circle-container .circle-stat {
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 18rem;
    margin-top: 12px;
}

.circle-container .circle-measurement {
    font-size: 6rem;
    font-family: 'MavenProMedium', Fallback, sans-serif;
}

/* footer styles */
.footer-info {
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 3rem;
    padding: 30px;
}

/* faq styles */

.faq-container {
    font-family: 'MavenProMedium', Fallback, sans-serif;
    font-size: 3rem;
    padding: 10px 30px 40px 30px;
}

.faq-container .info-box {
    padding: 30px 0;
}

.faq-container button {
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #60318C;
    color:#ffffff;
    padding: 8px;
    margin-top: 30px;
}    

.faq-container button:focus {
    outline: none;
}  

.faq-container .faq-arrow{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-top: 12px;
}

.faq-container .faq-arrow.up { 
    border-bottom: 20px solid #ffffff;
}
  
.faq-container .faq-arrow.down {
    border-top: 20px solid #ffffff;
}

.faq-container .faq-list {
    padding-left: 60px;
}